body, ul, li, h1, h3, a {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

p {
    opacity: 0.8;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #525357 ;
    opacity: 0.8;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    padding: 30px 30px 00;
    color: #575757;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 30px;
    opacity: 0.8;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
    opacity: 0.8;
}

img {
    max-width: 100%;
    display: block;
}

#bold {
    font-weight: bolder;
}

:root {
    --bg-button: #EF3A5D;
    --bg-hover-button: #EC1740;
    --ftsize-button: font-size: 14px;
    --color-button: #FFFFFF;
    --font-button: font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 93px;
}

.logo {
    max-width: 100%;
    padding-left: 70px;
    padding-top: -15px;
}

.nav {
    width: 80%;
    padding-right: 30px;
    padding-top: 30px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.menu li, .login li {
    display: inline-flex ;
    margin-left: 10px;
}

.menu li a, .login li a {
    display: block;
    padding: 10px;
    height: 40px;
}

.menu a:hover {
    border-bottom: 2px solid #EC1740;    
}

/*SECTION-1*/

.section1 {
    height: 480px;
    background-image: url(./images/banner-doghero-como-funciona.jpg);
    background-repeat: none;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-end;
}

.banner-about {
    background-color: #ffffff;
    width: 440px;
    height: 270px;
    border-radius: 5px;
    align-self: center;
    margin-right: 100px;
}

.banner-about button {
    margin-left: 30px;
}

.button {
    width: 180px;
    height: 50px;
    background-color: var(--bg-button);
    color: var(--color-button);
    font-size: var(--ftsize-button);
    font-family: var(--font-button);
    font-weight: 300;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.button:hover {
    background-color: var(--bg-hover-button);
    cursor: pointer;
}

.subtitle {
    color: #FFFFFF;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.txt {
    text-align: left;
}

.photo-credit {
    text-align: right;
}

/* SECTION 2 */

.title {
    text-align: center;
    padding: 50px;
}

.about-us {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.about-us div {
    flex: 1 1 300px;
}

.about-us img {
    margin: 0 auto;
}

.about-us p {
    padding: 15px 30px;
}

/* HR */

#hr {
  width: 1110px;
  margin: 50px auto;
  opacity: 0.8;
}

/* SECTION 3 */

.section3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    flex: 1 1 300px;
}

.phone, .card, .evaluate {
    width: 700px;
    height: 200px;
    display: flex;
    align-items: center;
}

.phone img, .card img, .evaluate img {
    width: 180px;
    margin-right: 30px;
}

.button3 {
    width: 700px;
    height: 100px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 30px;
}

/* SECTION 4  */

.section4 {
    background-color: #F0F1F1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.section4 h1{
    width: 100%;
}

.vet, .hero, .details, .photos {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.vet img, .hero img, .details img, .photos img {
    width: 160px;
}

.txt-format {
    padding-top: 20px;
}

/* FOOTER */

.footer {
    background-color: #F0F1F1;
}

.menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-footer div {
    padding: 30px;
}

.menu-footer ul{
    padding: 5px 0;
}

.menu-footer a:hover {
    text-decoration: underline;
}

.out-more img {
    display: inline;
    padding: 0 3px ;
    list-style: none;
}

/* FORMS  */

.last-div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1000px;
    justify-content: space-around;
    padding-bottom: 50px;
}

.newslatter {
    display: flex;
    flex-wrap: wrap;
}

.div-forms {
    display: flex;
    flex-wrap: wrap;
    border: grey 2px solid;
    border-radius: 3px;
    height: 40px;
    width: 250px;
}

.div-forms img {
    padding: 5px;
}

.div-forms input {
    border: none;
    background-color: transparent;
    width: 200px;
    font-size: 16px;
}

.submit {
    background-color: var(--bg-button);
    color: var(--color-button);
    font-size: 16px;
    font-family: var(--font-button);
    font-weight: 400;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    margin: 0 20px ;
}

.idiom img {
    border: 2px solid grey;
    border-radius: 3px;
}

/* MEDIA */

@media (max-width: 600px) {

.menu,.login {
    display: none;
}

.logo {
    margin: 0 auto;
    padding: 10px 0;
}

.section1 {
    background-repeat: none;
    background-size: cover;
}

h2 {
    font-size: 100%;
}

.txt{
    display: none;
}

#hr {
    width: 80%;
}

.about-us {
    width: 100%;
    flex-direction: column;
}

.phone, .card, .evaluate, .vet, .hero, .details, .photos {
    margin: 60px 0;
    flex-direction: column;
    max-width: 400px;    
}

.vet img, .hero img, .details img, .photos img {
    display: flex;
    align-self: center;
}

.menu-footer, .last-div {
    flex-direction: column;
}

#hr-footer {
    width: 150px;
    margin: 10px 0; 
}

.forms, .idiom {
    flex-direction: column;
    padding: 30px;
}

}
