body, ul, li, h1, h3, p, a {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #525357 ;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    padding: 30px 30px 00;
    color: #575757;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 30px;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 20px 30px;
}

img {
    max-width: 100%;
    display: block;
}

#bold {
    font-weight: bolder;
}

:root {
    --bg-button: #EF3A5D;
    --bg-hover-button: #EC1740;
    --ftsize-button: font-size: 14px;
    --color-button: #FFFFFF;
    --font-button: font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 93px;
}

.header img {
    max-width: 100%;
    padding-left: 70px;
    padding-top: -15px;
}

.barra-menu {
    width: 80%;
    padding-right: 30px;
    padding-top: 30px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.menu li, .login li {
    display: inline-flex ;
    margin-left: 10px;
}

.menu li a, .login li a {
    display: block;
    padding: 10px;
    height: 40px;
}

a:hover {
    border-bottom: 2px solid #EC1740;    
}

/*SECTION-1*/

.section-1 {
    height: 480px;
    background-image: url(./images/banner-doghero-como-funciona.jpg);
    background-repeat: none;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: flex-end;
}

.banner-about {
    background-color: #ffffff;
    width: 440px;
    height: 270px;
    border-radius: 5px;
    align-self: center;
    margin-right: 100px;
}

.button {
    width: 180px;
    height: 50px;
    background-color: var(--bg-button);
    color: var(--color-button);
    font-size: var(--ftsize-button);
    font-family: var(--font-button);
    font-weight: 300;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    
}

.button:hover {
    background-color: var(--bg-hover-button);
    cursor: pointer;
}

.legenda {
    color: #FFFFFF;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.txt {
    text-align: left;
}

.luciano {
    text-align: right;
}

/* SECTION 2 */


#title-about {
    text-align: center;
    padding: 50px;
}

.about-us {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.about-us div {
    flex: 1 1 300px;
}

.about-us img {
    margin: 0 auto;
}

.about-us p {
    padding: 15px 30px;
}

/* HR */

#hr {
  width: 1110px;
  margin: 50px auto;
  opacity: 0.8;
}